<% if(productos.length !==0) { %>
    <div>
        <table style="background-color: rgb(95, 95, 117); width: 70%">
            <tr style="color: rgb(0, 0, 0); padding-left: 20px;">
                <th style="color: white">Nombre</th>
                <th style="color: white">Precio</th>
                <th style="color: white">Foto</th>
            </tr>
            <% for (const producto in productos ) { %>
                <tr>
                    <td style="color: white;padding-left: 20px;">
                        <%= productos[producto].nombre %>
                    </td>
                    <td style="color: white; padding-left: 20px;">
                        <%= productos[producto].precio %>
                    </td>
                    <td style="color: white; padding-left: 20px;">
                        <img style="width: 50px;padding-left: 20px;" src=<%=productos[producto].foto %>>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <% } else{ %>
        <h3 style="color: black">no existen datos</h3>
        <% }%>