{{#if true}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: rgb(0, 255, 76);"> <th>Nombre</th> <th>Precio</th> <th>Foto</th> </tr>
           {{#each productos}}
            <tr>
                <td> {{this.nombre}} </td>
                <td> {{this.precio}} </td>
                <td> {{this.foto}} </td>
            </tr>
            {{/each}}
        </table>
    </div>
{{else}}
   <h3 style="color: black">no existen datos</h3>
{{/if}}

