<!DOCTYPE html>
<html lang="en">

<body>
  <div style="background-color: rgb(191, 191, 209); width: 50%;height: 40vh; display: flex ; justify-content: center;">
    <div>
      <h1 style="color: blue">Ingrese datos</h1>
      <br />

      <form action="/producto" method="post">
        <div>
          <label for="nombre"><b>Nombre</b></label>
          <input id="nombre" type="text" name="nombre" />
        </div>

        <div>
          <label for="precio"><b>Precio</b></label>
          <input id="precio" type="text" name="precio" />
        </div>

        <div>
          <label for="foto"><b>Foto</b></label>
          <input id="foto" type="text" name="foto" />
        </div>

        <button style="margin-top: 10px;">Enviar</button>
      </form>
      <button style="margin-top: 10px;"><a href="http://localhost:8081/table">Productos</a></button>
    </div>
  </div>
</body>

</html>