doctype html
.container.mt-3
  .jumbotron
    h1(style='color: blue') Ingrese Productos
    br
    form(action='/producto' method='post')
      .form-group
        label(for='nombre')
          b Nombre
        input#nombre.form-control(type='text' name='nombre')
      .form-group
        label(for='precio')
          b Precio
        input#precio.form-control(type='text' name='precio')
      .form-group
        label(for='foto')
          b Foto
        input#foto.form-control(type='text' name='foto')
      button.btn.btn-success.mt-3.mb-5 Enviar
    button.btn.btn-success.mt-3.mb-5
      a(href='http://localhost:8081/table') Productos