doctype html
div(style='background-color: rgb(191, 191, 209); width: 50%;height: 40vh; display: flex ; justify-content: center;')
  div
    h1(style='color: blue') Ingrese datos
    br
    form(action='/producto' method='post')
      div
        label(for='nombre')
          b Nombre
        div
        input#nombre(type='text' name='nombre')
      div
        label(for='precio')
          b Precio
        div
        input#precio(type='text' name='precio')
      div
        label(for='foto')
          b Foto
          div
        input#foto(type='text' name='foto')
      button(style='margin-top: 10px;') Enviar
    button(style='margin-top: 10px;')
      a(href='http://localhost:8080/table') Productos