<body>
  <div
    style="background-color: rgb(191, 191, 209); width: 50%;height: 40vh; display: flex ; justify-content: center; flex-direction: column;">
    <h1 style="color: blue">Vista de Productos</h1>
    <%- include('./partials/tabla.ejs') %>
      <button style="width: 100px; margin-top: 10px;"><a href="http://localhost:8082/">Añadir Productos</a></button>
  </div>
</body>