<header style="background-color: rgb(160, 160, 204); width: 50%; display: flex ; justify-content: center;">
    <h1 style="color: white">Vista de Productos</h1>
</header>
<body>
    </div>
    <%- include('./partials/tabla.ejs') %>
    <button><a href="http://localhost:8082/">Añadir Productos</a></button>
  </div>
</body>